<form class="container form-control" action="./CreateFile" method="POST">
    @Html.AntiForgeryToken();
    <label class="form-control form-label">Enter file name:</label>
    <input style="margin: 10px" required type="text" name="fileName" class="form-control form-text" placeholder="Test.txt"/>
    <button class="btn btn-primary">Add file</button>
</form>