@{
    string[] sliderImgs =
    {
        Url.Content("~/img/hero-slider/hero-1.jpg"),
        Url.Content("~/img/hero-slider/hero-2.jpg"),
        Url.Content("~/img/hero-slider/hero-3.png")
    };
}

<section class="hero-section">
    <div class="hero-items owl-carousel" style="overflow: auto">
        @foreach (string sliderImg in sliderImgs)
        {
            using (Html.CarouselItem(sliderImg))
            {
                <div class="text-center">
                    <form action="./CreateFile" method="POST" enctype="multipart/form-data" id="showFiles">
                        @Html.AntiForgeryToken()
                        <div class="container">
                            <h2>Enter file name:</h2>
                            <input style="margin: 10px" required type="text" name="fileName" placeholder="Test.txt"/>
                            <br/>
                            <button class="primary-btn">Add file</button>
                        </div>
                    </form>
                </div>
            }
        }
    </div>
</section>
