@model List<FileModel>
<table id="FilesTable" class="table table-striped table-bordered table-hover">
    @foreach (FileModel file in Model)
    {
        <tr>
            <td class="hover-bg ts-item"><input type="checkbox" name="fileCheckBox" value=@file.FullName></td>
            <td class="hover-bg ts-item"><span>@file.FileName</span></td>
            <td class="hover-bg ts-item"><span>@file.Extension</span></td>
            <td class="hover-bg ts-item"><span>@file.Size</span></td>
            <td class="hover-bg ts-item"><span>@file.CreationDate</span></td>
        </tr>
    }
</table>