doctype html
html
    head
        style.
            body
            {
                margin: 10px;
            }

            img
            {
                width: 400px;
                height: 200px;
                margin: 30px;
                background-size: cover;
            }
        body
            img(src = img.FileName)
            ul
                each key, value in img.Params
                    li #{key}: #{value}