<h1>Ввод данных о человеке</h1>
<div>
  <div class="form-group">
    <label for="fio">ФИО</label>
    <input [(ngModel)]="name" type="text" class="form-control" id="fio">
  </div>

  <div class="form-group">
    <label for="phone">Телефон</label>
    <input [(ngModel)]="phone" type="text" class="form-control" id="phone">
  </div>

  <div class="form-group">
    <label for="age">Возраст</label>
    <input [(ngModel)]="age" type="number" class="form-control" id="age">
  </div>

  <div class="form-group">
    <label for="address">Адрес</label>
    <input [(ngModel)]="address" type="text" class="form-control" id="address">
  </div>

  <button (click)="onUpdate()" class="btn btn-primary">Отправить</button>
</div>
