<div class="container">
    <form id="get-folder-path" name="get-folder-path" class="form-control" action="@Url.ActionLink("ShowFolder", "Home")">
        <input type="text" id="folderPath" name="folderPath" placeholder="Enter folder path" class="form-text input-group-text input-group form-check form-check-input">
        <br/>
        <button class="btn-primary form-control">Confirm</button>
    </form>
</div>

<script>
    /*$("#get-folder-path").submit(e =>
    {
        e.preventDefault();
        
        let path = $("#folderPath").val();
        alert(path);
        path = path.replaceAll("/", "%2F"); 
        path = path.replaceAll("\\", "%2F"); 
        alert(path);
        window.location.href = `/Home/ShowFolder/${path}`;
    });*/
</script>