<h1>Таблица людей</h1>

<table class="table table-bordered table-striped table-hover">
    <thead>
        <tr>
            <th>ФИО</th>
            <th>Телефон</th>
            <th>Возраст</th>
            <th>Адрес</th>
        </tr>
    </thead>
        <tbody>
            <tr *ngFor="let people of data">
              <td>{{people.name}}</td>
              <td>{{people.phone}}</td>
              <td>{{people.age}}</td>
              <td>{{people.address}}</td>
            </tr>
        </tbody>
</table>
