<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Форма для ввода диапазона чисел</title>
    </head>
    <body>
        <h1>Нечетные числа:</h1>
        ul
            each num in nums
                li #{num}
    </body>
</html>