<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Содержимое директории</title>
    </head>
    <body>
        ul
            each item in data
                li #{item}
    </body>
</html>