<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Форма для ввода диапазона чисел</title>
    </head>
    <body>
        <h1>Введите диапазон чисел:</h1>

        <form action="/display" method="post" name="form">
            <label>Введите путь к папке:</label>
            <input type="text" name="folderName" required><br>

            <input type="submit" value="Отправить">
        </form>
    </body>
</html>