@{
    ViewData["Title"] = "Home Page";
}

@section Header
{
    <div class="col-lg-6 align-self-center">
        <div class="caption header-text">
            <h6>Welcome</h6>
            <h2>Exam ASP.NET Core!</h2>
            <p>Learn about <a style="color: white" href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
        </div>
    </div>
    <div class="col-lg-4 offset-lg-2">
        <div class="right-image">
            <img src="~/images/OYMoAuYtm8c.jpg" alt="">
            <span class="price">$22</span>
            <span class="offer">-40%</span>
        </div>
    </div>
}