@{
    ViewData["Title"] = "Privacy Policy";
}

@section Header
{
    <div class="col-lg-6 align-self-center">
        <div class="caption header-text">
            <h2>@ViewData["Title"]</h2>
        </div>
    </div>
}

<div class="loginform">
    <p>Use this page to detail your site's privacy policy</p>
</div>